/* Style for tasks */

.tasks {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.task {
    border-radius: 2px 2px 2px 2px;
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    border-bottom: 1px solid var(--lightgray);
    cursor: pointer;
    overflow: hidden;
    max-height: fit-content;
}
.task.active .info {
    background-color: var(--green);
}
.task.active .title, .task.active .timeout {
    color: var(--white);
}
.task:last-child {
    border-bottom: none;
}

.task .title {
    font-weight: bold;
    color: var(--black);
    margin: 8px 8px;
}

.task .timeout {
    font-size: 12px;
    font-weight: bold;
    color: var(--gray);
    margin: 8px 8px;
}

.task .info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2px;
}

.task .description {
    max-height: 0;
    overflow: hidden;
    margin: 0px 8px 0px 8px;
    font-size: 14px;
}
.task .description.active {
    max-height: fit-content;
    margin: 12px 8px 8px 8px;
}

.no-data {
    display: flex;
    justify-content: center;
    padding: 16px;
    color: var(--gray);
    margin: auto;
    animation: appearance;
    animation-duration: 0.25s;
    animation-iteration-count: 1;
}

.task .buttons .material-symbols-outlined {
    color: white;
}

.task.completed .title{
    color: var(--lightgray);
    text-decoration: line-through;
    animation: appearance;
    animation-duration: 0.25s;
    animation-iteration-count: 1;
}

.task .block {
    color: var(--gray);
    font-size: 20px;
}
.task.to-be-deleted {
    height: 0;
    padding: 0;
    margin: 0;
    border-bottom: 0;
    overflow: hidden;
}

.task.to-be-added {
    animation: appearance;
    animation-duration: 0.25s;
    animation-iteration-count: 1;
}

@keyframes appearance {
    from {
        opacity: 0;
        color: var(--lightgray);
    }
    to {
        opacity: 1;
    }
}