/* Style for tasks */

.tasks {
    margin-top: calc(24px + 8vh + 24px);
    padding-bottom: calc(24px + 8vh);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.task {
    border-radius: 2px 2px 2px 2px;
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid var(--lightgray);
}
.task:last-child {
    border-bottom: none;
}

.title,
.timeout {
    margin: 8px 8px;
    color: var(--gray);
}

.title {
    font-weight: bold;
    color: var(--black);
}