/* Style for tasks */

.tasks {
    margin-top: calc(24px + 8vh);
    padding-bottom: calc(24px + 8vh);
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}

.task {
    border-radius: 0 4px 4px 0;
    display: flex;
    justify-content: space-between;
}

.task.active {
    border-left: 5px solid var(--green);
    box-shadow:  0 2px 6px 0 rgba(0,0,0,0.1);
}

.title,
.description,
.timeout {
    margin: 8px 8px;
}

.title {
    font-weight: bold;
    color: var(--gray);
}

.description {
    color: var(--gray);
}

.hidden {
    display: none;
}