.display {
    position: fixed;
    top: 8vh;
    width: 100vw;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-transparent);
    backdrop-filter: blur(2px);
    z-index: 101;
}

.display p {
    color: var(--white);
    font-weight: bold;
}