/* Navigation styling */

nav {
  width: 100vw;
  height: 8vh;
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  border-bottom: 1px solid var(--lightgray);
}
.logo, .menu {
  color: var(--black);
  font-size: 28px;
  font-weight: bold;
}

.logo {
  margin-left: 4vw;
  color: var(--green);
}
.menu {
  margin-right: 4vw;
}