/* Navigation styling */

nav {
  width: 100vw;
  height: 8vh;
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  z-index: 101;
}
.logo, nav .material-symbols-outlined {
  color: var(--green);
  font-size: 28px;
}

.logo {
  margin-left: 4vw;
  font-weight: bold;
}

nav .material-symbols-outlined {
  margin-right: 4vw;
}